{# src/DW/PortfolioBundle/Resources/views/index.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
  <div id="logo">
    <a href="/"><span>David Walker</span></a>
  </div>

  <div id="summary">
	<ul>
		<li>Websites</li>
		<li>Cutting edge technology</li>
		<li class="last">Interactive applications</li>
	</ul>
  </div>
{% endblock %}
