{# src/DW/PortfolioBundle/Resources/views/index.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
  <div class="page intro">
    <div class="inner">
      <div id="logo">
        <a href="/"><span>David Walker</span></a>
      </div>

      <div id="summary">
        <ul>
          <li>Websites</li>
          <li>Cutting edge technology</li>
          <li class="last">Interactive applications</li>
        </ul>
      </div>

      <div id="footer">
        <ul class="social">
          <li class="facebook"><a href="http://www.facebook.com/davewalker1986" rel="external" title="Facebook"><span>Facebook</span></a></li>
          <li class="twitter"><a href="http://www.twitter.com/theboywalker" rel="external" title="Twitter"><span>Twitter</span></a></li>
          <li class="google-plus"><a href="https://plus.google.com/113133442180234524440" rel="external" title="Google plus"><span>Google plus</span></a></li>
        </ul>
      </div>

      <div id="base-links">
        <ul>
          <li>email: <a href="mailto:hello@david-walker.net">hello@david-walker.net</a></li>
          <li class="last">full website coming soon</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- {% include 'PortfolioBundle:Default:technology.html.twig' with {} %} -->
  {% render 'PortfolioBundle:Contact:index' with { 'no_base' : true } %}

{% endblock %}
