{# src/DW/PortfolioBundle/Resources/views/index.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
  <div id="logo">
    <a href="/"><span>David Walker</span></a>
  </div>
{% endblock %}
