<div class="page contact">
  <div class="inner">
    <form class="contact" action="{{ path('PortfolioBundle_contact') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" value="submittt" />
    </form>
  </div>
</div>