<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %} | David Walker | Freelance Web Developer, Online Innovator, Leeds, West Yorkshire</title>

		    <meta name="description" content="Online innovator, creating web sites and applications a cut above the rest - always focused on quality and attaining success. Yorkshire based Leeds web developer." />
        {% block stylesheets %}{% endblock %}

		    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		    <script type="text/javascript" src="http://jscrollpane.kelvinluck.com/script/jquery.mousewheel.js"></script> 
		    <script type="text/javascript" src="/js/scroller.js"></script>
		    <script type="text/javascript" src="/js/page.js"></script>

        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="http://jscrollpane.kelvinluck.com/style/jquery.jscrollpane.css" /> 
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
		<div id="content">
		  <div id="container">
          {% block body %}{% endblock %}
		  </div>

		  <div id="site-links">
		    <ul>
		      <li><a href="/" rel="intro" class="intro selected" title="Home">Home</a></li>
		      <li><a href="/technology/" rel="technology" class="technology" title="Technology">Technology</a></li>
		      <li><a href="/contact/" rel="contact" class="contact" title="Contact">Contact</a></li>
		    </ul>
		  </div>
		  {% block javascripts %}{% endblock %}
		</div>

		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-24617737-1']);
		  _gaq.push(['_trackPageview']);
		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
    </body>
</html>

