<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %} | David Walker | Web Developer &amp; Online Innovator</title>
        {% block stylesheets %}{% endblock %}

        <link rel="stylesheet" href="/css/main.css" />
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
      <div id="container">
        {% block body %}{% endblock %}

        <div id="footer">
          <ul class="social">
            <li class="facebook"><a href="http://www.facebook.com/davewalker1986" rel="external" title="Facebook"><span>Facebook</span></a></li>
            <li class="google-plus"><a href="https://plus.google.com/113133442180234524440" rel="external" title="Google plus"><span>Google plus</span></a></li>
            <li class="twitter"><a href="http://www.twitter.com/theboywalker" rel="external" title="Twitter"><span>Twitter</span></a></li>
          </ul>
        </div>

      </div>
      {% block javascripts %}{% endblock %}
    </body>
</html>

