* {
  margin: 0;
  padding: 0;
}

html {
  background: #000000;
  color: #FFFFFF;
  font: 70%/1.4em Arial,Helvetica,sans-serif;
  text-align: center;
}

body {
  height: 100%;
}

a:link,
a:visited {
  color: #545454;
  text-decoration: underline;
}

#container {
  height: 100%;
  width: 100%;
}

  #container .page {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

    #container .page .inner {
      position: absolute;
      text-align: center;
      top: 100px;
      width: 100%;
    }

    #container .page.intro {
      background: transparent url(../images/bg.gif) no-repeat scroll center center;
    }

    #container .page.technology {
      background: green;
    }

    #container .page.contact {
      background: blue;
    }

#site-links {
  background: #333333;
  position: fixed;
  top: -30px;
  padding: 10px 15px 0px 20px;
  right: 0;
  -webkit-transition: top 0.15s ease-in-out;
	-moz-transition: top 0.15s ease-in-out;
	-o-transition: top 0.15s ease-in-out;
	-ms-transition: top 0.15s ease-in-out;
	transition: top 0.15s ease-in-out;
  box-shadow: 0 0 10px #FFFFFF;
  border-radius: 0 0 0 7px;
}
#site-links:hover {
  top: 0;
}

  #site-links .menu-link {
    color: #FFFFFF;
    display: block;
    font-family: Georgia;
    font-size: 1.2em;
    padding: 10px;
  }

  #site-links ul {
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
    #site-links ul li {
      float: left;
      margin: 0 5px 0;
    }
      #site-links ul li a.selected {
        color: blue;
      }

#summary {
	display: block;
	margin: 40px 0;
}
	#summary ul {
		font-size: 1.3em;
		line-height: 1.3em;
		overflow: hidden;
	}
		#summary ul li {
			background: transparent url(../images/bullet.png) no-repeat scroll center right;
			display: inline;
			margin: 0 20px 0 0;
			padding: 0 27px 0 0;
		}
		#summary ul li.last {
			background: none;
			padding: 0;
			margin: 0;
		}

#logo {
  background: transparent url(../images/logo.png) no-repeat scroll center center;
  height: 46px;
  margin: 0 auto 10px;
  width: 250px;
}
  #logo a {
    display: block;
    height: 100%;
    width: 100%;
  }
    #logo a span {
      display: block;
      text-indent: -9999px;
    }

#footer {
  margin: 20px 0;
}
  #footer ul.social {
    list-style: none;
    overflow: hidden;
    margin: 0 auto;
    width: 116px;
  }
    #footer ul.social li {
      float: left;
      height: 32px;
      margin: 0 10px 0 0;
      width: 32px;
    }
    #footer ul.social li.facebook {
     background: transparent url(../images/facebook.png) no-repeat scroll 0 0;
    }
    #footer ul.social li.google-plus {
     background: transparent url(../images/google-plus.png) no-repeat scroll 0 0;
     margin: 0;
    }
    #footer ul.social li.twitter {
     background: transparent url(../images/twitter.png) no-repeat scroll 0 0;
    }
      #footer ul.social li a {
        display: block;
        height: 100%;
        width: 100%;
      }
        #footer ul.social li a span {
          display: block;
          text-indent: -9999px;
        }

#base-links {
	color: #545454;
	padding: 10px 0 0;
}
	#base-links ul {
		display: block;
	}
		#base-links ul li {
			border-right: solid 1px #545454;
			display: inline;
			margin: 0 10px 0 0;
			padding: 0 10px 0 0;
		}
		#base-links ul li.last {
			border-right: 0;
			margin: 0;
			padding: 0;	
		}

