* {
  margin: 0;
  padding: 0;
}

html {
  background: #CCCCCC;
  font-family: Arial, Sans Serif;
  font-size: 70%;
}

#container {
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}

a:link,
a:visited {
  color: #333333;
  -webkit-transition: color 0.2s ease-in;
	-moz-transition: color 0.2s ease-in;
	-o-transition: color 0.2s ease-in;
	-ms-transition: color 0.2s ease-in;	
	transition: color 0.2s ease-in;
}

a:hover {
  color: red;
  
}
