<IfModule mod_rewrite.c>
    RewriteEngine On

    #RewriteCond %{HTTP_HOST} !^www\.david-walker\.net [NC]
    #RewriteRule ^(.*)$ http://www.david-walker.net/$1 [L,R=301]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ /app.php [QSA,L]
</IfModule>
